header, main, footer, nav{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 2;
} 
header {    
    margin: 2rem;
    background-color: blue;   
}



h1{
   
    text-align: center;
    padding: 2;
}
h2{
    text-align: center
}

nav{ 
    display: grid;
    justify-content: center;
    
    
    /* grid-template-rows: 10,1fr; */
    
    
}

footer {
    text-align: center;    
    /* column-rule: ; */
    
}
.shane img {
    grid-column: 1 / 2;
  
max-height: 10em;
padding-top: 0.5em;
margin: 0 auto;
}